{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browserslist": [
            "ie > 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import"
  ],
  "ignore": []
}